
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<h2>Department</h2>

<a class="btn btn-primary" href="/home/Create">Create</a>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    @foreach (var d in Model)
    {
    <tr>
        <td>@d.Id</td>
        <td>@d.Name</td>
    </tr>
    }
</table>

