
@{
    ViewBag.Title = "Bio";
}
<a class="btn btn-primary" href="/Profile/Index">Home</a>
<a class="btn btn-primary" href="/Profile/Bio">Bio</a>
<br />

<h2>Bio</h2>


<table border="1">
    <tr>
        <th>
            About me!!
        </th>
    </tr>
    <tr>
        <td>
            My name is @ViewBag.name. Im currently doing my @ViewBag.Subject at @ViewBag.Inst .My current CGPA is @ViewBag.CGPA .
        </td>
    </tr>
</table>



