
@{
    ViewBag.Title = "Index";
}

<a class="btn btn-primary" href="/Profile/Index">Home</a>
<a class="btn btn-primary" href="/Profile/Bio">Bio</a>
<br />

<h2>Home</h2>




<h1>Name: @ViewBag.Name</h1>
<h1>ID: @ViewBag.ID</h1>
<h1>Institute: @ViewBag.Inst</h1>
<h1>CGPA: @ViewBag.CGPA</h1>

